body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    height: 70px;
}

.header img {
    width: 200px;
    padding: 0;
}

.gallery {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;


}

.card {
    padding: 0px;
    border-radius: 10px;

}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(207, 207, 207);
}

h1 {
    letter-spacing: 2px;
}

.card h3 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 0px 0 20px 0;
    margin: auto;
    width: 80%;
    box-sizing: border-box;

}

a {

    user-select: none;
    text-decoration: none;
    color: black;
    transition: transform .2s;

}

a:hover {
    transform: scale(1.1);
}

.title {
    text-align: center;
    padding-bottom: 20px;
}