body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f1f5fd;
}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  top: 0;
  align-items: center;
}

.header {
  width: 200px;
  display: flex;
}

.header img {
  width: 130px;
  padding: 0 0 0 15px;
  margin: 0;
}

.gallery {
  margin: 0 auto;
  margin-top: 100px;
  width: 95%;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-bottom: 50px;
}

.card {
  padding: 0px;
  border-radius: 10px;
  width: 90%;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  border: 1px solid rgb(207, 207, 207);
}

h1 {
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 0px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a2a2a;
}

h2 {
  letter-spacing: 1px;
  color: #2a2a2a;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  letter-spacing: 1px;
  color: #626592;
  text-align: center;
  padding-bottom: 0px;
  font-size: 16px;
  width: 75%;
  margin: auto;
  font-weight: 400;
}

h4 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px;
  padding: 0 0 20px 0;
  margin: auto;
  box-sizing: border-box;
  font-weight: 600;
  color: #2a2a2a;
}

a {
  user-select: none;
  text-decoration: none;
  color: black;
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.1);
}

.tag {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2a2a2a;
}

.tag span {
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #626592;
  font-weight: 600;
}

.html-tag {
  border: 1px solid #ffaa3b;
}

.web-tag {
  border: 2px solid #75b2fc;
}

.ui-tag {
  border: 2px solid #e63bff;
}

.js-tag {
  border: 2px solid #fff290;
}

.social-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.social-menu li {
  padding-left: 20px;
  line-height: 1;
}

.social-menu img {
  width: 20px;
}

.profile {
  padding-bottom: 150px;
}

.language-menu {
  display: flex;
  margin-left: auto;
}

.language-menu a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

@media (max-width: 1100px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 90%;
    padding-top: 155px;
  }

  h3 {
    width: 90%;
  }
}
