body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f1f5fd;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 2;
}
.nav-item {
  padding-left: 30px;
}
.gallery {
  margin: 0 auto;
  margin-top: 100px;
  width: 95%;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-bottom: 50px;
}

.portfolio-card {
  padding: 0px;
  border-radius: 10px;
  width: 90%;
}

.portfolio-card img {
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  border: 1px solid rgb(207, 207, 207);
}

h1 {
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 0px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a2a2a;
}

h2 {
  letter-spacing: 1px;
  color: #2a2a2a;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  letter-spacing: 1px;
  color: #626592;
  text-align: center;
  padding-bottom: 0px;
  font-size: 16px;
  width: 75%;
  margin: auto;
  font-weight: 400;
}

h4 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px;
  padding: 0 0 20px 0;
  margin: auto;
  box-sizing: border-box;
  font-weight: 600;
  color: #2a2a2a;
}

a {
  user-select: none;
  text-decoration: none;
  color: black;
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.1);
}

.tag {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2a2a2a;
}

.tag span {
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #626592;
  font-weight: 600;
}

.social-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-menu a {
  padding-left: 20px;
}
.social-menu img {
  width: 20px;
}

.profile {
  padding-bottom: 150px;
}

.language-menu {
  display: flex;
  margin-left: auto;
}

.language-menu a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
/* Estilos personalizados */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f5fd;
}

section {
  border-radius: 10px;
}
.navbar-nav {
  align-items: center;
}
.navbar-brand {
  font-size: 24px;
}
.navbar-brand img {
  width: 130px;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-size: 15px;
  color: black;
  font-weight: 600;
}
.nav-normal:hover {
  color: rgb(86, 86, 86);
  transition: 0.5s;
  transform: scale(1.01);
}
.nav-button:hover {
  color: white;
  box-shadow: 0px 0px 10px #00000026;
  transition: 0.5s;
  transform: scale(1.01);
}
.btn {
  border-radius: 30px;
}

footer p {
  font-size: 14px;
}

.profile-avatar {
  width: 100px;
  padding-bottom: 20px;
}
.portfolio-card-text {
  color: #858592;
}
.btn-contact {
  background: linear-gradient(
    90deg,
    rgba(18, 124, 255, 1) 0%,
    rgba(141, 23, 255, 1) 100%
  );
  color: white;
  border-radius: 5px;
  border: none;
}
.btn-form {
  background: linear-gradient(
    90deg,
    rgba(18, 124, 255, 1) 0%,
    rgba(141, 23, 255, 1) 100%
  );
  border: none;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1100px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 90%;
    padding-top: 155px;
  }

  h3 {
    width: 90%;
  }
}
