body {
    background: #141519;
    font-family: 'Overpass', sans-serif;
    color: white;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(23, 30, 40);
    background: linear-gradient(0deg, rgba(23, 30, 40, 1) 0%, rgba(33, 40, 50, 1) 100%);
    padding: 20px;
    border-radius: 20px;
    width: 370px;
}


ul {
    list-style-type: none;
    display: flex;
    padding: 10px 0 20px 0
}

ul li {
    padding: 15px 20px 15px 20px;
}

a {
    color: #818994;
    text-decoration: none;
    background: #262f38;
    border-radius: 50%;
    margin-right: 20px;

}

a:hover {
    background: #7b8898;
    color: white;
}

p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #7e858f;
}

button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background: #fc7613;
    color: white;
}

button:hover {
    color: black;
    background: white;
}

.icon {
    background: #262f38;
    width: 20px;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
}

.icon img {
    width: 20px;

}