body {
    background: #141519;
    font-family: 'Overpass', sans-serif;
    color: white;
}

.card {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(23, 30, 40);
    background: linear-gradient(0deg, rgba(23, 30, 40, 1) 0%, rgba(33, 40, 50, 1) 100%);
    padding: 30px;
    border-radius: 20px;
    width: 375px;
}


ul {
    list-style-type: none;
    display: flex;
    padding: 10px 0 20px 0
}

ul li {
    padding: 26px 20px 22px 21px;
    line-height: 0;

}

a {
    color: #818994;
    text-decoration: none;
    background: #262f38;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 0.3s;
    margin: auto;

}

.active {
    background: #ff750e;
    color: white;
}

a:hover {
    background: #7b8898;
    color: white;
}

p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #7e858f;
}

button {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background: #eb7e35;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    color: black;
    background: white;
}

.icon {
    background: #262f38;
    width: 20px;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
}

.icon img {
    width: 20px;

}

a:clicked {
    background: red
}

.d-none {
    display: none;
}


.greetings img {
    margin: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.greetings-text {
    width: 185px;
    background: #262f38;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    line-height: 2;
    color: #eb7e35;
    letter-spacing: 1;
}

.greetings h1 {
    display: flex;
    justify-content: center;
}

.greetings p {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media(max-width: 480px) {
    .card {
        width: 320px;
    }

    a:hover {
        background: #eb7e35;
        color: white;
    }

}